src/main/java/app/models/jaxb/classes/event.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="basePrice" type="xs:double"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="rating" type="rating" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="rating">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="MID"/>
      <xs:enumeration value="LOW"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

